<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{data['lan']['AUTHTITLE']}}</title>
</head>
<body>
    <h1>{{data['lan']['AUTHENTRY']}}</h1>
    <p><b>{{data['lan']['AUTHERR_REASON']}}</b>{{data['lan']['AUTHERR_REASON_CONTENT']}}</p>
    <p><b>{{data['lan']['AUTHERR_RESOLVENT']}}</b>{{data['lan']['AUTHERR_RESOLVENT_CONTENT']}}</p>
    <p>1.{{data['lan']['AUTHERR_RESOLVENT1']}}: /etc/init.d/bt default</p>
    <p>2.{{data['lan']['AUTHERR_RESOLVENT2']}}: rm -f /www/server/panel/data/admin_path.pl</p>
    <p style="color:red;">{{data['lan']['AUTHERR_TACK_CARE']}}</p>
    <hr>
    <address>{{data['lan']['NAME']}}, <a href="https://forum.aapanel.com/d/1090-login-panel-using-security-portal" target="_blank">{{data['lan']['HELP']}}</a></address>
</body>
</html>