{% extends "layout.html" %}
{% block content %}
<div class="main-content pb55" style="min-height: 525px;">
    <div class="container-fluid">
        <div class="site_table_view bgw mtb15 pd15">
            <div style="padding: 40px;background: #f8f8f8;text-align: center;vertical-align: middle;">
                <h1 style="font-size: 37px;">Sorry, you need to meet the following conditions to use:</h1>
                <p style="font-size: 20px;margin-top: 38px;color: red;">Please upgrade Nginx firewall version to 7.8.0 or above</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}