.item[data-v-a065841f]{--un-bg-opacity:1;background-color:rgb(245 246 250 / var(--un-bg-opacity));padding:20px;font-size:14px;color:var(--color-text-2)}.item p[data-v-a065841f]{word-break:break-all;line-height:25px}
