.border-view[data-v-4bcfd2a2]{width:90%;border-width:1px;border-color:var(--color-border);border-radius:4px;border-style:solid;padding:12px}[data-v-030ea397] .n-spin-description{color:#20a53a!important}
